body{
  background-color: #34CECC;
  }
  .container{
  width: 100%;
  background-image: linear-gradient(to right , #CCFEFC, #CC9AFC);
}
img{
  filter: saturate(200%); -webkit-filter: saturate(300%);
  object-fit: cover;
  height: 200px;
}
.taglio-alto{
  margin: auto;
  text-align: center;
}
h1{
  font-size: 32px;
  text-transform: uppercase;
  font-weight: 900;
  padding: 15px 0;
  color: #640264;
}
h2.sotto-titolo{
  font-size: 28px;
  text-transform: uppercase;
  font-weight: bolder;
  padding: 10px 0;
  color: #640264;
}
h3{
  font-size: 20px;
  text-transform: uppercase;
  color: #043264;
  padding: 10px 0 10px 0;
}
p{
  font-size: 18px;
  color: #043264;
  line-height: 1.2;
  padding: 0 5px;
  margin-bottom: 10px;
}
hr{
  padding: 2px;
  background-color: violet;
  width: 100%;
  margin: auto;
}
img.lettera{
  padding-top: 5px;
}
img.grafico{
  background-color: #FC02FC;
  border-radius: 20px;
  margin: 10px 0;
}
div[class*="col-" ]{
  height: 100%;
  margin-bottom: 25px;
}
/* resposive md tablet */
@media screen and ( min-width: 768px) and (max-width: 991px){

  body{
    background-color: #04CEFC;
    }
  .container{
    width: 90%;
  }
  hr{
    background-color: aqua;
    width: 80%;
  }
}

@media screen and (max-width: 767px) {

  body{
    background-color: #FC02FC;
    }

  .container{
    width: 90%;
    background-image: linear-gradient(to right , #FC9ACC , #CC9AFC , #CCFEFC );
  }
  hr{
    background-color: #64669C;
    width: 80%;
  }
}
