.container{
  width: 100%;
  background-image: linear-gradient(to right , #CCFEFC, #CC9AFC);
}
img{
  filter: saturate(200%); -webkit-filter: saturate(300%);
}
.taglio-alto{
  margin: auto;
  text-align: center;
}
h1{
  font-size: 32px;
  text-transform: uppercase;
  font-weight: 900;
  padding: 15px 0;
  color: #640264;
}
h2.sotto-titolo{
  font-size: 26px;
  text-transform: uppercase;
  font-weight: bolder;
  padding: 5px 0 10px 0;
  color: #640264;
}
h3{
  font-size: 20px;
  text-transform: uppercase;
  color: #043264;
  padding: 10px 0 10px 0;
}
p{
  font-size: 18px;
  color: #043264;
  line-height: 1.2;
  padding: 0 5px;
}
img.mappa{
  width:35%;
  height: auto;
}
img.personal{
 width: 65%;
  padding: 20px 0 20px 0;
}
img.lente{
  width:50%;
  height: auto;
  padding-top: 40px;
}
hr{
  margin: 20px 0;
  padding: 2px;
  background-color: violet;
}
img.lettera{
  width:48%;
  height: auto;
  padding-top: 5px;
}
img.grafico{
  width:15%;
  background-color: #FC02FC;
  border-radius: 20px;
}
div[class*="col-" ]{
  height: 100%;
  margin-bottom: 25px;
}
